.edit-product-form {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  gap: 0 20px;
  padding-bottom: 5px;

  #edit-product-description {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
