.add-new-product-wrapper {
  margin-bottom: 40px;
}

.add-new-product-form {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  gap: 0 20px;
  max-width: calc(50% - 10px);

  #add-new-product-description {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  & > button {
    grid-row-start: 3;
    justify-self: start;
  }
}

@media screen and (max-width: 550px) {
  .add-new-product-form {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    max-width: 100%;

    #add-new-product-description {
      grid-column-end: auto;
    }

    & > button {
      grid-row-start: 4;
    }
  }
}
