<h1>Add a new product</h1>
<form [formGroup]="newProductForm" (ngSubmit)="onSubmitNewProduct()" class="example-form">
  <mat-form-field>
    <input matInput placeholder="Product name" value="" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Product description" value="" formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Product price" value="" formControlName="price">
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit">Submit</button>
</form>
