<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [routerLink]="['/products']">Products</button>

    <span class="nav-spacer"></span>

    <button mat-button [matMenuTriggerFor]="adminMenu">Admin</button>
    <mat-menu #adminMenu="matMenu" xPosition="after">
      <button mat-menu-item [routerLink]="['/admin/edit-products']">Edit products</button>
    </mat-menu>
    <button mat-button [routerLink]="['/cart']">
      <mat-icon aria-hidden="false" aria-label="cart icon">shopping_cart</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
