.mat-card {
  box-sizing: border-box;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .mat-card-title {
    margin-bottom: 0;
  }

  .admin-buttons {
    button {
      visibility: hidden;

      &.delete-button {
        padding: 0 6px;
        margin-left: 20px;
        min-width: initial;
      }
    }

    &.show-admin-buttons {
      button {
        visibility: visible;
      }
    }
  }
}

.disable-price-button {
  pointer-events: none;
}
