.mat-card {
  box-sizing: border-box;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .mat-card-title {
    margin-bottom: 0;
  }

  .edit-button {
    visibility: hidden;

    &.show-edit-button {
      visibility: visible;
    }
  }
}

.disable-price-button {
  cursor: not-allowed;
}
